# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native build & cache (Chặn đích danh các thư mục rác hàng GB)
android/app/build/
android/build/
android/.gradle/
android/.cxx/
android/app/.cxx/
android/.kotlin/
ios/build/
ios/Pods/

# Backups & Test Folders (Chặn các thư mục tự tạo gây nặng máy)
APK_Backups/
kiem-tra-dung-luong/

# Keys & Signing
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo